nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 33px;
  margin: 27px 60px 0 0;
}
#hamburger {
  display: none;
  border: none;
  background: none;
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 20px;
}

#hamburger:hover{
  color: rgb(0, 162, 255);
}


@media (max-width: 375px) {
  .hidden{
    display:none;
  }
  .visible{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 54px 0 0 0;
  }
  #hamburger{
    display: block;
    position: absolute;
    top: 27px;
    right: 8px;
  }
}
